In [1]:
import pandas as pd
from scipy import stats
import random
from itertools import accumulate

In [2]:
# Load the CSV data into a DataFrame
df = pd.read_csv("FBref5.csv")

In [3]:
# use input to get the minimum minutes
mins = float(input("Enter the minimum number of minutes a player must of played: "))

Enter the minimum number of minutes a player must of played: 1350

In [4]:
df = df[(df["Min_x"] >= mins) & (df["Pos"].isin(['FW']))]

In [5]:
# Manually input the player name and squad
player_name = input("Enter the player's name: ")
player_squad = input("Enter the player's squad: ")

Enter the player's name: Ollie Watkins
Enter the player's squad: Aston Villa

In [6]:
# Filter the DataFrame based on the selected player's name and squad
filtered_df = df[(df['Player_x'] == player_name) & (df['Squad'] == player_squad)]

In [7]:
# Select the relevant columns for comparison
columns_to_compare = ['GSh', 'Gls_2', 'SoTper', 'SoT90', 'Ast_2', 'KP', 'GCA90', 'Sh_2', 'Att 3rd_1',
                      'Rec', 'Cmpper_2', 'Dis']

In [8]:
# Calculate the z-score for the columns
z_score = stats.zscore(df[columns_to_compare])

In [9]:
# Apply the function to the DataFrame
df[columns_to_compare] = z_score

In [10]:
# Print the z-scored data
print(df[columns_to_compare])

           GSh     Gls_2    SoTper     SoT90     Ast_2        KP     GCA90  \
13   -0.097934 -0.348993  0.833126  0.459023 -0.250787  0.370197  0.014534
20   -0.452004 -0.838626 -0.999751 -0.987905 -0.044601 -0.189911 -0.255110
94    0.433170 -0.006251 -1.094965 -0.737475 -0.766252 -0.493268  0.553822
130   1.495379 -0.642773  2.130421 -0.793126 -0.869345  0.515440  0.499893
132  -0.452004 -0.740699  0.130920 -0.848778  0.470865 -0.507579 -0.632611
...        ...       ...       ...       ...       ...       ...       ...
3388  1.495379 -0.055214  1.035456 -0.403569  0.264679 -0.922103 -0.147252
3417  0.433170 -0.397957  0.345152 -0.653999  0.470865 -0.086165 -0.039395
3434 -1.514213 -1.328259 -2.225636 -1.293986 -0.147694 -0.167673  0.445964
3458 -0.629039 -1.034479 -0.975947 -1.182684 -0.250787 -1.281948 -1.333685
3473 -1.337178 -1.622038 -0.821224 -1.822671 -0.766252  0.418691 -1.279756

          Sh_2  Att 3rd_1       Rec  Cmpper_2       Dis
13    1.479118  -0.204622 -0.315018 -0.166866 -0.467125
20   -1.029255  -0.994549 -0.352957 -0.490765 -0.482963
94    0.437736   1.106746  0.650128  1.685839 -0.946475
130   0.205871   0.051687  1.663631  1.012128 -0.355534
132   1.494698   0.087914  0.211742 -0.192778  0.708667
...        ...        ...       ...       ...       ...
3388 -1.029255   0.695325 -1.078729  0.688229 -0.234093
3417 -0.369585   0.165308  1.086285  1.543323 -0.719308
3434  0.281572   0.153824  0.450283 -0.322337  2.478041
3458 -1.029255  -1.191712 -1.429911 -1.099696 -2.105465
3473 -1.029255  -1.163880  1.007963 -2.861709 -0.989885

[141 rows x 12 columns]

In [11]:
# Find the minimum and maximum values for the columns
min_value = df[columns_to_compare].min().min() 
max_value = df[columns_to_compare].max().max()

In [12]:
# Define a function to scale the data
def scale_data(x):
   return (x - min_value) / (max_value - min_value) * 100

In [13]:
# Apply the function to the DataFrame
df[columns_to_compare] = df[columns_to_compare].apply(scale_data)

In [14]:
# Print the scaled z-scores
print(df[columns_to_compare])

            GSh      Gls_2     SoTper      SoT90      Ast_2         KP  \
13    40.192224  36.541192  53.732171  48.291774  37.969363  47.000025
20    35.043161  29.420705  27.077546  27.249810  40.967828  38.854654
94    47.915817  41.525532  25.692890  30.891688  30.473201  34.443079
130   63.363003  32.268900  72.598107  30.082382  28.973969  49.112231
132   35.043161  30.844802  43.520334  29.273076  48.463990  34.234958
...         ...        ...        ...        ...        ...        ...
3388  63.363003  40.813484  56.674565  35.747526  45.465525  28.206737
3417  47.915817  35.829143  46.635810  32.105648  48.463990  40.363380
3434  19.595975  22.300218   9.250101  22.798625  39.468596  39.178052
3458  32.468630  26.572510  27.423709  24.417238  37.969363  22.973689
3473  22.170506  18.027926  29.673775  15.110215  30.473201  47.705252

          GCA90       Sh_2  Att 3rd_1        Rec   Cmpper_2        Dis
13    41.827793  63.126526  38.640716  37.035281  39.189787  34.823255
20    37.906496  26.648479  27.153194  36.483547  34.479476  34.592938
94    49.670387  47.982211  57.711302  51.070921  66.132765  27.852304
130   48.886128  44.610314  42.368092  65.809807  56.335319  36.446080
132   32.416680  63.353098  42.894922  44.695685  38.812962  51.922234
...         ...        ...        ...        ...        ...        ...
3388  39.475015  26.648479  51.728204  25.929000  51.625008  38.212131
3417  41.043533  36.241732  44.020423  57.413739  64.060229  31.155891
3434  48.101868  45.711201  43.853413  48.164674  36.928838  77.653374
3458  22.221307  26.648479  24.285954  20.821933  25.624091  10.997692
3473  23.005566  26.648479  24.690693  56.274752   0.000000  27.221020

[141 rows x 12 columns]

In [15]:
# Set the columns and scaling factors
columns = ['GSh', 'Gls_2', 'SoTper', 'SoT90', 'Ast_2', 'KP', 'GCA90', 'Sh_2', 'Att 3rd_1', 'Rec', 'Cmpper_2', 'Dis']
percentages = [0.1471, 0.1378, 0.1321, 0.1176, 0.0992, 0.0826, 0.0658, 0.0635, 0.0547, 0.04770, 0.0318, 0.0222]

In [16]:
# Define a function to scale the values
def scale_values(x, percentage):
   return x * percentage

In [17]:
# Apply the function to the DataFrame
for column, percentage in zip(columns, percentages):
    df[column] = df[column].apply(scale_values, args=(percentage,))

In [18]:
# Add the columns and create a new column with the total
df = df.assign(Rank=df[columns_to_compare].sum(axis=1))

In [19]:
# Sort the DataFrame by the column in descending order
df = df.sort_values('Rank', ascending=False)

In [20]:
# Add a new column for the rank and assign values
df['Rank'] = df['Rank'].rank(method='dense', ascending=False)

In [21]:
column = 'Rank'

In [22]:
df.head()

,Rk,Player_x,Nation,Pos,Squad,Comp,Age,Born,MP_x,Min_x,...,TotDist_y,PrgDist_y,PrgC_y,third_y,CPA,Mis,Dis,Rec,PrgR_y,Rank
2079,2102,Kylian Mbappe,France,FW,Paris S-G,Ligue 1,24-170,1998,34,2818,...,313.418530,150.958466,5.271565,4.025559,2.747604,2.012780,0.811713,3.891651,14.952077,1.0
1529,1548,Nicolas Jackson,Senegal,FW,Villarreal,La Liga,21-353,2001,26,1598,...,140.505618,69.157303,2.752809,1.460674,1.067416,3.089888,1.307812,1.386263,6.573034,2.0
332,339,Wissam Ben Yedder,France,FW,Monaco,Ligue 1,32-300,1990,32,2114,...,138.340426,55.489362,2.042553,1.361702,1.106383,1.489362,0.823309,1.760903,8.425532,3.0
1372,1389,Erling Haaland,Norway,FW,Manchester City,Premier League,22-322,2000,35,2769,...,65.584416,24.707792,1.136364,0.324675,0.811688,1.655844,0.520946,1.197901,4.902597,4.0
1750,1771,Khvicha Kvaratskhelia,Georgia,FW,Napoli,Serie A,22-116,2001,34,2519,...,247.678571,132.107143,4.964286,2.214286,3.000000,2.250000,1.029297,3.315644,10.392857,5.0

In [23]:
# Reset the index of the position_df DataFrame
df = df.reset_index(drop=True)

In [24]:
# Add a new column for the rank and assign values
df['Rank'] = df.index + 1

In [25]:
# Filter the DataFrame for the selected player
selected_player_df = df[df['Player_x'] == player_name]

In [26]:
# Calculate the average of the selected player's values across rows
selected_player_avg = selected_player_df[columns_to_compare].mean()

In [27]:
# Get the rank of the selected player
player_rank = selected_player_df['Rank'].values[0]

In [28]:
# Filter the DataFrame for players above and below the selected player
above_players = df[df['Rank'] < player_rank].tail(15).copy()
below_players = df[df['Rank'] > player_rank].head(5).copy()
selected_player_df = df[df['Player_x'] == player_name].copy()

In [29]:
# Convert above_players and below_players to DataFrames
above_players = pd.DataFrame(above_players, columns=df.columns)
below_players = pd.DataFrame(below_players, columns=df.columns)

In [30]:
# Display the players above the selected player
print("Players above:")
print(above_players[['Player_x', 'Rank']])

Players above:
               Player_x  Rank
18        Mohamed Salah    19
19        Karim Benzema    20
20    Randal Kolo Muani    21
21          Lois Openda    22
22          Bukayo Saka    23
23          Terem Moffi    24
24           Martinelli    25
25        Gabriel Jesus    26
26        Marcus Thuram    27
27       Jonathan David    28
28        Romelu Lukaku    29
29             Raphinha    30
30  Michael Gregoritsch    31
31      Marcus Rashford    32
32     Domenico Berardi    33

In [31]:
# Display the selected player
print(f"\n{player_name} is ranked #{int(player_rank)} in the database.")

Ollie Watkins is ranked #34 in the database.

In [32]:
# Display the players below the selected player
print("\nPlayers below:")
print(below_players[['Player_x', 'Rank']])

Players below:
            Player_x  Rank
34   Felipe Anderson    35
35     Taiwo Awoniyi    36
36     Alvaro Morata    37
37    Alexander Isak    38
38  Marko Arnautovic    39

In [33]:
# Filter the DataFrame for the top 10 ranked players
top_10_players = df.head(10).copy()

# Display the top 10 ranked players
print("Top 10 Ranked Players:")
print(top_10_players[['Player_x', 'Rank']])

Top 10 Ranked Players:
                Player_x  Rank
0          Kylian Mbappe     1
1        Nicolas Jackson     2
2      Wissam Ben Yedder     3
3         Erling Haaland     4
4  Khvicha Kvaratskhelia     5
5             Phil Foden     6
6              Elye Wahi     7
7     Robert Lewandowski     8
8          Donyell Malen     9
9           Breel Embolo    10